<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= title %></title>

    <%- head %>

    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/build/bundle.css" />
  </head>

  <body>
    <div id="app">
      <%- html %>
    </div>
  </body>

  <script id="ssrStore">
    window.store = <%- JSON.stringify(store) %>
    window.locale = <%- JSON.stringify(locale) %>
  </script>
  <script defer src="/build/bundle.js"></script>
</html>
